.experts {
    padding-top: clamp(toRem(25), 5vw, toRem(53));
    padding-bottom: clamp(toRem(25), 10vw, toRem(130));
    @media (max-width: $md4+px)  {
        padding-bottom: toRem(25);
    }
    &__items {
        display: flex;
        gap: toRem(20);
        @media (max-width: $md2+px)  {
            flex-direction: column;
            
        }
    }
}

.item-expert {
    flex: 1 1 50%;
    min-width: toRem(320);
    &__top {
        position: relative;
        padding: 0 toRem(38);
        @media (min-width: $md2+px)  {
            min-height: toRem(484);
        }
        @media (max-width: $md3+px)  {
            padding: 0 toRem(15) toRem(8);
        }
    }

    &__person {
        margin-bottom: toRem(23);
        @media (max-width: $md3+px)  {
            margin-bottom: toRem(20);
        }
    }
    &__image-wrap {
        display: flex;
        margin-bottom: toRem(14);
        gap: clamp(toRem(21), 5vw, toRem(55));
        @media (max-width: $md3+px)  {
            margin-bottom: toRem(10);
        }
    }

    &__image {
        @include adaptiv-value('min-width', 214, 160, 1);
        @include adaptiv-value('height', 214, 160, 1);
        @media (max-width: $md4+px)  {
            min-width: toRem(131);
            height: toRem(131);
        }
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: 50%;
            background-color: #f6f6fd;
        }
    }

    &__name {
        font-weight: 500;
        line-height: 110%;
        margin-bottom: 5px;
        font-size: clamp(toRem(18), 3vw, toRem(20));
        @media (max-width: $md3+px)  {
            padding-left: toRem(8);
        }
    }

    &__career {
        line-height: 110%;
        letter-spacing: -0.01em;
        color: $grayColor;
        @media (max-width: $md3+px)  {
            padding-left: toRem(8);
            font-size: toRem(14);
        }
    }

    &__tags {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin-top: toRem(22);
        @include adaptiv-value('gap', 20, 8, 1);
        
    }

    &__tag {
        position: relative;
        font-size: toRem(12);
        line-height: 110%;
        letter-spacing: 0.02em;
        text-transform: uppercase;
        color: #949494;
        padding: 3.5px 9px;
    }

    &__list {
    }

    &__divider {
        @media (min-width: $md2+px)  {
            height: 1px;
            width: calc(100% - 74px);
            background-color: #dfdfdf;
            margin: toRem(12) toRem(38) toRem(12);
        }
        
    }

    &__bottom {
        position: relative;
        display: flex;
        flex-direction: column;
        padding: toRem(20) toRem(0) toRem(20) toRem(0);
        @media (min-width: $md2+px)  {
            padding: toRem(20) toRem(30) toRem(20) toRem(30);
        }
        @media (min-width: 1115px)  {
            padding: toRem(20) toRem(65) toRem(20) toRem(38);
        }
        
        &.brackets {
            &::before,
            &::after {
                @media (max-width: $md2+px)  {
                    display: none;
                }
            }
        }
    }

    &__title {
        font-weight: 500;
        line-height: 100%;
        letter-spacing: -0.02em;
        margin-bottom: toRem(15);
    }

    &__dates {
        position: relative; 
        
    }

    &__times {
        display: grid;
        grid-template: repeat(1, toRem(30)) / repeat(6, minmax(toRem(60), toRem(70)));
        grid-auto-rows: toRem(30);
        column-gap: toRem(13.5);
        row-gap: 10px;
        margin: toRem(23) 0;
        @media (max-width: $md4+px)  {
            grid-template: repeat(1, toRem(30)) / repeat(5, toRem(60));
            margin: toRem(20) 0;
            column-gap: toRem(10);
        }
        @media (max-width: $md4+px)  {
            
        }
    }

    &__btn {
    }
}
.list-dots {
    @media (max-width: $md3+px)  {
        padding-left: toRem(8);
    }
    &__item {
        position: relative;
        font-weight: 500;
        line-height: 110%;
        padding-left: toRem(18);
        &:not(:last-child) {
            margin-bottom: toRem(16);
        }
        &::before {
            content: ''; 
            position: absolute;
            top: 5px;
            left: -2px;
            width: 7px;  
            height: 7px;
            border-radius: 50%;
            background: #a49ae6;
        }
        p {
            line-height: 110%;
            letter-spacing: -0.01em;
            color: $grayColor;
            margin-top: 2px;
            &:not(:last-child) {
                margin-bottom: toRem(10);
            }
            @media (max-width: $md3+px)  {
                font-size: toRem(14);
                margin-top: toRem(8);
                &:not(:last-child) {
                    margin-bottom: toRem(12);
                }
            }
        }
    }
}
.date-choice {
    &__dates {
        display: grid;
        grid-template-columns: repeat(4, minmax(toRem(100), toRem(105)));
        gap: toRem(23);
        overflow: scroll;
        &::-webkit-scrollbar {
            display: none;
        }
        @media (max-width: $md4+px)  {
            gap: toRem(10);
        }
    }
    &__date {
        font-weight: 500;
        font-size: toRem(16);
        line-height: 100%;
        letter-spacing: -0.02em;
        text-align: left;
        border: 1px solid $grayColor;
        background: #fff;
        padding: toRem(8) toRem(6);
        @media (max-width: $md4+px)  {
            padding: toRem(6);
        }
        p {
            color:$grayColor;
            margin-top: 5px;
        }
        &--active {
            border: none;
            background: $bgPurple;
            color: #fff;
            p {
                color: rgba(255, 255, 255, 0.5);
            }
        }
    }

    &__next {
        position: absolute;
        right: -38px;
        top: 50%;
        transform: translateY(-50%);
        background-color: transparent;
        font-size: toRem(26);
        color: $grayColor;
        @media (max-width: 1115px)  {
            display: none;
        }
    }
}
.time-choice {
    &__time {
        border: 1px solid $grayColor;
        background: #fff;
        font-weight: 500;
        font-size: toRem(16);
        line-height: 100%;
        letter-spacing: -0.02em;
        &--active {
            border: none;
            background: $bgPurple;
            color: #fff;
        }

        &--more {
            border: none;
            background: $bgPurple;
            color: #fff;
            p {
                transform: rotate(90deg);
            }
        }
        &:nth-child(8), &:nth-child(9) { //так как тут без js скрыла две лишних так
           @media (max-width: $md4+px)  {
               display: none;
           }
        }
    }

}

.brackets {
    &::before,
    &::after {
        content: "";
        position: absolute;
        top: 0;
        width: 13px;
        height: 100%;
    }
    &::before {
        left: 0;
        border-left: 2px solid currentColor;
        border-top: 2px solid currentColor;
        border-bottom: 2px solid currentColor;
    }
    &::after {
        right: 0;
        border-right: 2px solid currentColor;
        border-top: 2px solid currentColor;
        border-bottom: 2px solid currentColor;

    }
    &--small {
        &::before,
        &::after {
            border-left-width: 2px;
            border-top-width: 1px;
            border-bottom-width: 1px;
            width: 4px;
        }
        
    }
}
